
#choix_annee_container {
    z-index:1; 
    position: absolute; 
    top:20px; 
    right:20px; 
    background-color: darkred; 
    color: white;
    margin: 10px;
    padding: 10px 50px 10px 50px;
    opacity: 0.6;
    border-radius: 10px;
    display:inline;
}

#choix_annee_container form{
    vertical-align: middle;
    display:inline;

}

.choix_annee_label {

    color: white;
    font-weight: bold;
    padding-right: 30px;
}